<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="row">
    <div class="col-4">
        <img class="figure-img img-fluid rounded" th:src="${book.postUrl}" style="height: 100%;width: 100%">
    </div>
    <div class="col-8">
        <div>
            <h3 th:text="${book.title}"></h3>
        </div>
        <div>
            作者：<span th:text="${book.author.user.username}"></span>
            分类：<span th:text="${book.category.description}"></span>
        </div>
        <div class="card">
            <p class="card-title">小说描述</p>
            <div class="card-body" th:text="${book.description}">

            </div>
        </div>
        <div>
               <button type="button" class="btn btn-primary" th:onclick="'javascript:pass('+${book.id}+')'">通过</button>
           <button type="button" class="btn btn-secondary" th:onclick="'javascript:nopass('+${book.id}+')'">未通过</button>
        </div>
    </div>
</div>
<script>
    function pass(id){
        $("#main").load("/manage/bookCheck/"+id+"/1");
    }
    function nopass(id){
        $("#main").load("/manage/bookCheck"+id+"/2");
    }
</script>
