<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<table class="table">
    <thead>
    <tr>
        <th scope="col">消息内容</th>
        <th scope="col">发送时间</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message:${messageList}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.date}"></td>
        <td><button type="button" class="btn btn-primary" th:onclick="'javascript:hasRead('+${message.id}+')'">已读</button></td>
    </tr>
    </tbody>
</table>
<script>
    function hasRead(messageId) {
        $("#messageList").load("/message/changeState/"+messageId+"/1")
    }

</script>