<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/cropper/cropper.min.css">
    <style type="text/css">
        .box{
            width: 384px;
            height: 600px;
            border:5px solid #555fff;
            border-radius: 10px;
        }
        img {
            max-width: 100%; /* This rule is very important, please do not ignore this! */
        }
    </style>
</head>
<body>
<form>
    <input type="file" name="" id="imgBtn" name="imgCut">
    <div class="box">
        <img src="" id="previewyulan">
    </div>
    <input type="button" name="" value="上传" onclick="imgSubmit()">
</form>
<!-- 点击上传按钮裁剪-->

<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/cropper/cropper.min.js"></script>
<script type="text/javascript" src="/static/cropper/jquery-cropper.min.js"></script>
<script type="text/javascript">
    $("#imgBtn").change(function(e){
        var file = $("#imgBtn").get(0).files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload=function(e){
            alert('文件读取完成');
            $("#previewyulan").attr("src",e.target.result)
            var $img = $("#preview");
            $('.box > img').cropper({
                aspectRatio: 3.2 / 5,
                crop: function(data) {
                    viewMode:2;
                    //转换为base64
                    // var $imgData=$img.cropper('getCroppedCanvas')
                    //   var dataurl = $imgData.toDataURL('image/png');
                    //  $("#previewyulan").attr("src",dataurl)
                }
            });
        }

    })

    function imgSubmit(){
        //获取裁剪后的canvas对象
        var result= $('.box > img').cropper("getCroppedCanvas");
        //将canvas对象转换为base64
        var dataurl =result.toDataURL('image/png');
        document.body.appendChild(result);
        //发起post请求
        var data = "img="+dataurl+"";
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(event){
            if(xhr.readyState == 4){    //4:解析完毕
                if(xhr.status == 200){    //200:正常返回
                    console.log(xhr)
                }
            }
        };
        xhr.open('POST','imgCut',true);    //true为异步
        xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
        xhr.send(data);
    }

</script>

</body>
</html>